#body-class{
	text-align: center;
}

body{
	font: normal 14px 'Open Sans', Arial, sans-serif; /*body font*/
	background-image: url(../images/fairs.jpg);
	color: #999; /*body color*/
 	background-repeat: none;
 	background-attachment: fixed;
 	text-align: center;
 	width:50%;
 	height:100%;
}

	@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
  	body {
  		font: normal 14px 'Open Sans', Arial, sans-serif; /*body font*/
			background-image: url(../images/city2.jpg);
			color: #999; /*body color*/
 			background-repeat: none;
 			width:100%;
 			height:100%;
  }
}

.ig-pic{
	padding-bottom: 100px;
}